[Desktop Entry]
Categories=Qt;KDE;X-KDE-settings-looknfeel;
Comment=Widget Style of GNOME/GTK Applications
Comment[ar]=نمط ودجات تطبيقات جنوم/جتك
Comment[bs]=Stil kontrola za GNOME/GTK aplikacije
Comment[ca]=Estil pels estris de les aplicacions GNOME/GTK
Comment[ca@valencia]=Estil pels estris de les aplicacions GNOME/GTK
Comment[cs]=Styl widgetu aplikací GNOME/GTK
Comment[da]=Kontrolstil for GNOME-/GTK-programmer
Comment[de]=Einrichtung des Stils von GNOME-/GTK-Programmen
Comment[el]=Στιλ γραφικών συστατικών των εφαρμογών GNOME/GTK
Comment[en_GB]=Widget Style of GNOME/GTK Applications
Comment[es]=Estilo de elementos gráficos de aplicaciones de GNOME/GTK
Comment[et]=GNOME/GTK rakenduste vidinastiil
Comment[eu]=GNOME/Gtk aplikazioen trepeta estiloa
Comment[fi]=Gnome/GTK-sovellusten elementtien tyyli
Comment[fr]=Configuration du style de composants graphiques des applications « GNOME / GTK »
Comment[gl]=Estilo dos trebellos de aplicativos de GNOME ou GTK.
Comment[he]=עיצוב יישומי Gnome/GTK
Comment[hu]=A GNOME/GTK alkalmazások elemstílusa
Comment[ia]=Configuration de stilo de applicationes GNOME/GTK
Comment[id]=Gaya Widget Aplikasi GNOME/GTK
Comment[it]=Stile degli oggetti delle applicazioni GNOME/GTK
Comment[ja]=GNOME/GTK アプリケーションのウィジェットスタイル
Comment[ko]=GNOME/GTK 프로그램의 위젯 스타일
Comment[lt]=GNOME/GTK programų valdiklio stilius
Comment[mr]=जिनोम/GTK अनुप्रयोगांकरीता विजेट शैली
Comment[nb]=Oppsett for elementstilen til GNOME/GTK-programmer
Comment[nds]=Elementenstil vun Gnome/GTK-Programmen instellen
Comment[nl]=Widget-stijl van GNOME/GTK-toepassingen
Comment[nn]=Elementsstil for GNOME/GTK-program
Comment[pl]=Wygląd interfejsu aplikacji GNOME/GTK
Comment[pt]=Estilo Gráfico das Aplicações em GNOME/GTK
Comment[pt_BR]=Estilo do widget para aplicativos GNOME/GTK
Comment[ro]=Stilul controalelor din aplicații GNOME/GTK
Comment[ru]=Настройка стиля программ на основе GNOME/GTK+
Comment[sk]=Štýl widgetov GNOME/GTK aplikácií
Comment[sl]=Slog gradnikov programov GNOME/GTK
Comment[sr]=Стил виџета за ГТК програме
Comment[sr@ijekavian]=Стил виџета за ГТК програме
Comment[sr@ijekavianlatin]=Stil vidžeta za GTK programe
Comment[sr@latin]=Stil vidžeta za GTK programe
Comment[sv]=Grafisk komponentstil för GNOME/GTK-program
Comment[tr]=GNOME/GTK Uygulamaları için Gereç Biçemi
Comment[uk]=Налаштування стилю програм на основі GNOME/GTK
Comment[x-test]=xxWidget Style of GNOME/GTK Applicationsxx
Comment[zh_CN]=GNOME/GTK 程序的部件风格
Comment[zh_TW]=Gnome/GTK 應用程式的元件樣式
Exec=kcmshell5 kde-gtk-config
Icon=kde-gtk-config
Name=GNOME Application Style (GTK)
Name[ar]=نمط تطبيقات جنوم (جتك)
Name[ast]=Estilu d'aplicaciones GNOME (GTK)
Name[bs]=GNOME stil aplikacija (GTK)
Name[ca]=Estil de les aplicacions GNOME (GTK)
Name[ca@valencia]=Estil de les aplicacions GNOME (GTK)
Name[cs]=Styl aplikací GNOME (GTK)
Name[da]=Programstil for GNOME (GTK)
Name[de]=GNOME Anwendungs-Stil (GTK)
Name[el]=Στιλ εφαρμογών GNOME (GTK)
Name[en_GB]=GNOME Application Style (GTK)
Name[es]=Estilo de aplicaciones de GNOME (GTK)
Name[et]=GNOME rakenduste stiil (GTK)
Name[eu]=GNOME aplikazioen estiloa (GTK)
Name[fi]=Gnome-sovellusten tyyli (GTK)
Name[fr]=Style des applications GNOME (GTK)
Name[gl]=Estilo dos aplicativos de GNOME (GTK)
Name[he]=עיצוב ישומי Gnome (GTK)
Name[hu]=GNOME alkalmazásstílus (GTK)
Name[ia]=Applicaion de stylo de GNOME (GTK)
Name[id]=Gaya Aplikasi GNOME (GTK)
Name[it]=Stile delle applicazioni di GNOME (GTK)
Name[ja]=GNOME アプリケーションスタイル (GTK)
Name[ko]=GNOME 프로그램 스타일(GTK)
Name[lt]=GNOME programos stilius (GTK)
Name[mr]=जिनोम अनुप्रयोग शैली (GTK)
Name[nb]=GNOME programstil (GTK)
Name[nds]=Gnome-Programmstil (GTK)
Name[nl]=GNOME stijl van toepassing (GTK)
Name[nn]=GNOME-programstil (GTK)
Name[pl]=Wygląd aplikacji GNOME (GTK)
Name[pt]=Estilo de Aplicações do GNOME (GTK)
Name[pt_BR]=Estilo dos aplicativos GNOME (GTK)
Name[ro]=Stilul aplicațiilor GNOME (GTK)
Name[ru]=Стиль программ GNOME (GTK+)
Name[sk]=Štýl aplikácií GNOME (GTK)
Name[sl]=Slog programov GNOME (GTK)
Name[sr]=Стил ГТК програма
Name[sr@ijekavian]=Стил ГТК програма
Name[sr@ijekavianlatin]=Stil GTK programa
Name[sr@latin]=Stil GTK programa
Name[sv]=GNOME-programstil (GTK)
Name[tr]=GNOME Uygulama Biçemi (GTK)
Name[uk]=Стиль програм GNOME (GTK)
Name[x-test]=xxGNOME Application Style (GTK)xx
Name[zh_CN]=GNOME 程序风格 (GTK)
Name[zh_TW]=Gnome 應用程式樣式（GTK）
X-KDE-Keywords=gnome,style,gtk
X-KDE-Keywords[ca]=gnome,estil,gtk
X-KDE-Keywords[ca@valencia]=gnome,estil,gtk
X-KDE-Keywords[da]=gnome,stil,gtk
X-KDE-Keywords[de]=gnome,style,gtk,design
X-KDE-Keywords[en_GB]=gnome,style,gtk
X-KDE-Keywords[es]=gnome,estilo,gtk
X-KDE-Keywords[eu]=gnome,estiloa,gtk
X-KDE-Keywords[fi]=gnome,tyyli,gtk
X-KDE-Keywords[fr]=gnome,style,gtk
X-KDE-Keywords[gl]=gnome,style,estilo,gtk
X-KDE-Keywords[hu]=gnome,stílus,gtk
X-KDE-Keywords[it]=gnome,stile,gtk
X-KDE-Keywords[ko]=gnome,style,gtk,그놈,스타일
X-KDE-Keywords[nl]=gnome,stijl,gtk
X-KDE-Keywords[nn]=gnome,stil,gtk
X-KDE-Keywords[pl]=gnome,wygląd,gtk
X-KDE-Keywords[pt]=gnome,estilo,gtk
X-KDE-Keywords[pt_BR]=gnome,estilo,gtk
X-KDE-Keywords[ru]=gnome,style,gtk,гном,стиль,оформление
X-KDE-Keywords[sk]=gnome,štýl,gtk
X-KDE-Keywords[sl]=gnome,slog,gtk
X-KDE-Keywords[sr]=gnome,style,gtk,Гном,стил,ГТК
X-KDE-Keywords[sr@ijekavian]=gnome,style,gtk,Гном,стил,ГТК
X-KDE-Keywords[sr@ijekavianlatin]=gnome,style,gtk,Gnome,stil,GTK
X-KDE-Keywords[sr@latin]=gnome,style,gtk,Gnome,stil,GTK
X-KDE-Keywords[sv]=gnome,stil,gtk
X-KDE-Keywords[tr]=gnome,style,gtk
X-KDE-Keywords[uk]=gnome,style,gtk,гном,гноме,стиль,жтк,жетека,гтк
X-KDE-Keywords[x-test]=xxgnomexx,xxstylexx,xxgtkxx
X-KDE-Keywords[zh_CN]=gnome,style,gtk,样式
X-KDE-Keywords[zh_TW]=gnome,style,gtk
Type=Service
X-KDE-Library=kcm_kdegtkconfig
# X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=applicationstyle
X-KDE-Weight=80

