[Desktop Entry]
Categories=Qt;KDE;X-KDE-settings-looknfeel;
Comment=Configuration of the style of GTK applications
Comment[nb]=Oppsett for stilen til GTK-programmer
Exec=kcmshell4 kde-gtk-config
Icon=kde-gtk-config
Name=GTK
Name[bg]=GTK
Name[bs]=GTK
Name[ca]=GTK
Name[ca@valencia]=GTK
Name[da]=GTK
Name[de]=GTK
Name[el]=GTK
Name[es]=GTK
Name[et]=GTK
Name[fi]=GTK
Name[fr]=GTK
Name[gl]=GTK
Name[hu]=GTK
Name[ia]=GTK
Name[it]=GTK
Name[kk]=GTK
Name[ko]=GTK
Name[lt]=GTK
Name[mr]=GTK
Name[nb]=GTK
Name[nds]=GTK
Name[nl]=GTK
Name[pl]=GTK
Name[ro]=GTK
Name[ru]=Настройка GTK+
Name[sk]=GTK
Name[sl]=GTK
Name[sv]=GTK
Name[tr]=GTK
Name[ug]=GTK
Name[uk]=GTK
Name[zh_TW]=GTK
Type=Service
X-KDE-Library=kcm_cgc
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=cgc
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=application-appearance
